body {
    background-color: teal;
    font-size: 25px;
}
table{
    border: 6px solid white;
}
td{
    border: 2px solid white;
}
th{
    color: yellow;
    border: 2px solid white;
}
.weekButton{
    position: absolute;
    width: 131.5px;
    height: 37px;
    margin-left: 106px;
    margin-top: -43px;
    background-color:black;
    color: white;
    border-color: white;
}
.weekButton:hover{
    border-color: yellow;
}
.backButton{
    position: absolute;
    margin-left: 1px;
    margin-top: 210px;
    height: 30px;
    width: 50px;
}
#timeDiv{
    position: absolute;
    margin-left: 165px;
    margin-top: -220px;
    font-size: 20px;
    color: white;
    width: 1000px;
}
.timeDiv{
    position: absolute;
    margin-left: 165px;
    margin-top: 220px;
    font-size: 20px;
    color: white;
    width: 1000px;
}